@use '../colours';
@use '../spacing';

$icon-size: 22px;

aside {
  display: flex;
  grid-area: aside;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: spacing.$default-padding;
  text-align: justify;
  hyphens: auto;

  a {
    text-decoration-color: colours.$dark-fg-1;
  }

  .watermark {
    text-align: center;
  }

  section#links {
    display: grid;
    align-items: center;
    align-self: center;
    gap: .3em 1em;

    img {
      width: $icon-size;
      height: $icon-size;
    }
  }

  svg {
    pointer-events: none;
  }

  h2 {
    margin-block-start: 0;
    font-size: 1.3em;
  }

  h3 {
    font-size: 1em;
  }

  article + article {
    margin-block-start: 20px;
  }

  article.top-skills > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  article.education {
    display: grid;
    grid-template: 'degree dates' 'field field' 'highlight highlight' / 1fr auto;

    [grid-area='field'] {
      margin-block-end: .3em;
      font-size: .9em;
      text-align: right;
    }
  }

  article.endorsment {
    display: grid;
    grid-template: 'from' 'title' 'excerpt' / auto;

    [grid-area='title'] {
      margin-block-end: .3em;
      font-size: .9em;
      text-align: right;
    }
  }
}
