@import '../spacing';

header {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-around;
  padding: 15px $default-padding;
  padding-left: 0;

  h1 {
    margin: 0;

    &.name {
      font-weight: bold;
      letter-spacing: 1px;
    }

    &.title {
      font-size: 1.7em;
      font-weight: lighter;
      line-height: 80%;
    }
  }

  .logo {
    max-width: 100px;
  }
}
