@use 'sass:color';
@import './main';
@import './header';
@import './aside';

body {
  @include bg-sea;
  display: grid;
  grid-template: 'aside main' 1fr / 34% 1fr;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
