@import './colours';
@import './spacing';

$icon-size: 22px;

aside {
  display: flex;
  grid-area: aside;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: $default-padding;
  text-align: justify;
  hyphens: auto;

  @media print {
    & {
      font-weight: bolder;
    }
  }

  .watermark {
    text-align: center;
  }

  section#links {
    display: grid;
    align-items: center;
    align-self: center;
    gap: .3em 1em;

    img {
      width: $icon-size;
      height: $icon-size;
    }
  }

  svg {
    pointer-events: none;
  }

  h1,
  h2,
  h3,
  h4 {
    a {
      text-decoration: none;

      > svg {
        // bump the 'external-link' icon a bit higher to account for the absence of underline
        position: relative;
        top: -1px;
      }
    }
  }

  h3 {
    margin-top: 0;
    font-size: 1.3em;
    letter-spacing: .3ch;
  }

  article + article {
    margin-top: 15px;
  }

  article.top-skills > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  article.education {
    display: grid;
    grid-template: 'degree dates' 'field field' 'highlight highlight' / 1fr auto;

    [grid-area=field] {
      margin-bottom: .3em;
      font-size: .9em;
      text-align: right;
    }
  }

  article.endorsment {
    display: grid;
    grid-template: 'from' 'title' 'excerpt' / auto;

    [grid-area=title] {
      margin-bottom: .3em;
      font-size: .9em;
      text-align: right;
    }
  }
}
