@import './colours';
@import './spacing';

$icon-size: 22px;

aside {
  display: flex;
  grid-area: aside;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: $horizontal-padding;

  @media print {
    & {
      font-weight: bolder;
    }
  }

  @include rasterize-background(linear-gradient(transparentize($primary, .2), transparentize(darken($primary, 10%), .2) 45%, $dark-bg),
    url('src/assets/circuit-board.svg'));

  .watermark {
    text-align: center;
  }

  .links {
    display: grid;
    align-items: center;
    gap: .3em 1em;

    img {
      width: $icon-size;
      height: $icon-size;
    }
  }

  h3 {
    margin-top: 0;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: .3ch;
  }

  .education {
    display: grid;
    grid-template: 'degree dates''field field''highlight highlight'/ 1fr auto;

    [grid-area=field] {
      margin-bottom: .3em;
      font-size: .9em;
      text-align: right;
    }

    +.education {
      margin-top: 15px;
    }
  }

  .endorsment {
    display: grid;
    grid-template: 'from''title''excerpt'/auto;

    [grid-area=title] {
      margin-bottom: .3em;
      font-size: .9em;
      text-align: right;
    }

    +.endorsment {
      margin-top: 15px;
    }
  }
}
