$primary: hsl(208deg 56% 26%);
$primary-lighter: lighten($primary, 10%);

$light-bg: ghostwhite;
$light-fg: hsl(0deg 0% 28%);
$light-fg-1: $light-fg;
$light-fg-2: hsl(0deg 0% 42%);
$light-fg-3: hsl(0deg 0% 66%);
