@import './spacing';

header {
  display: flex;
  grid-area: header;
  flex-direction: column;
  justify-content: center;
  padding: $vertical-padding $horizontal-padding;

  h1 {
    margin: 0;

    &.name {
      font-weight: bold;
      letter-spacing: 1px;
    }

    &.title {
      font-size: 1.7em;
      font-weight: lighter;
      line-height: 80%;
    }
  }
}
