@import './spacing';

header {
  display: flex;
  grid-area: header;
  flex-direction: column;
  justify-content: center;
  padding: $vertical-padding $horizontal-padding;

  h1 {
    margin: 0;

    &.name {
      font-variant-caps: small-caps;
      letter-spacing: 1px;

      .bigger-small-caps {
        font-size: 1.2em;
        line-height: 0;
      }
    }

    &.title {
      font-size: 1.7em;
      font-weight: lighter;
    }
  }
}
