@import './spacing';

main {
  display: flex;
  grid-area: main;
  flex-direction: column;
  padding: 0 $default-padding;
}

section#experience {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: $default-padding 0;
}

article.experience {
  display: grid;
  grid-template: 'title title' 'when where' / 1fr auto;
  gap: .3em 0;

  &.w-summary {
    grid-template: 'title title' 'when where' 'summary summary' / 1fr auto;
  }

  > * {
    margin: 0;
  }
}
