@import './spacing';

main {
  display: flex;
  grid-area: main;
  flex-direction: column;
  padding: 0 $default-padding;
  hyphens: none;
}

section#summary br {
  content: '';
  display: block;
  margin-top: .5em;
}

section#experience {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: $default-padding 0;
}

article.experience {
  display: grid;
  grid-template: 'title title' 'when where' 'summary summary' / 1fr auto;
  gap: .3em 0;

  > * {
    margin: 0;
  }
}

ol.tags {
  margin: .75em 0 0 0;
  padding: 0;
  float: right;
  color: $light-fg;
  font-size: smaller;
  justify-self: flex-end;

  li {
    display: inline;
    padding: 0 3px;
    border: 1px solid hsl(0deg 0% 83%);
    border-radius: 1em;
    &.star {
      border: 1px solid grey;
    }

    + li {
      margin-left: 3px;
    }
  }
}
