@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&family=Cinzel:wght@500&family=Outfit:wght@100..900&display=swap';
@import './spacing';
@import './colours';

body {
  color: $light-fg;
  font-family: Raleway, Montserrat, HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 10pt;
  letter-spacing: .5px;
}

.inverse {
  color: $dark-fg;
  font-weight: 500; // slightly bolder to account for lesser legibility from inversed colours
}

h1,
h2,
aside h3 {
  font-family: Cinzel, serif;
}

h4 {
  margin: 0;
}

.hr {
  display: flex;
  align-items: baseline;
  gap: 0 .5ch;
}

p {
  margin: 0;
  color: $light-fg-0;
  text-align: justify;

  .inverse & {
    color: $dark-fg-0;
  }
}

br {
  content: '';
  display: block;

  section#aboutme & {
    margin-block-start: 1em;
  }

  section#experience & {
    margin-block-start: .5em;
  }
}

a {
  color: inherit; // avoid changing link colour to browser default (blue/purple)
  text-underline-offset: 2px;
  text-decoration-color: $light-fg-2;

  .inverse & {
    text-decoration-color: $dark-fg-2;
  }

  > svg {
    padding-left: 2px;
    vertical-align: middle;
  }
}

@mixin thin   { font-weight: 400; }
@mixin bolder { font-weight: 600; }
@mixin bold   { font-weight: 700; }
.thin   { @include thin; }
.bolder { @include bolder; }
.bold   { @include bold; }

$shades: (
  light:    (fg: $light-fg-1, inverse-fg: $dark-fg-1),
  lighter:  (fg: $light-fg-2, inverse-fg: $dark-fg-2),
  lightest: (fg: $light-fg-3, inverse-fg: $dark-fg-3)
);

@each $name, $colors in $shades {
  .#{$name} {
    color: map-get($colors, fg);

    .inverse & {
      color: map-get($colors, inverse-fg);
    }
  }
}
