@use 'sass:color';
@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Cinzel:wght@500&display=swap';
@import './spacing';
@import './colours';

body {
  color: $light-fg;
  font-family: Raleway, Montserrat, HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 10pt;
  letter-spacing: .5px;
}

.inverse {
  color: $dark-fg;
}

h1,
h2,
aside h3 {
  font-family: Cinzel, serif;
}

h4 {
  margin: 0;
}

.hr {
  display: flex;
  align-items: baseline;
  gap: 0 .5ch;
}

p {
  margin: 0;
  color: $light-fg-0;
  text-align: justify;

  .inverse & {
    color: $dark-fg-0;
  }
}

br {
  content: '';
  display: block;

  section#aboutme & {
    margin-block-start: 1em;
  }

  section#experience & {
    margin-block-start: .5em;
  }
}

a {
  color: inherit; // avoid changing link colour to browser default (blue/purple)
  text-underline-offset: 2px;
  text-decoration-color: $light-fg-2;

  .inverse & {
    text-decoration-color: $dark-fg-2;
  }

  > svg {
    padding-left: 2px;
    vertical-align: middle;
  }
}

.lighter {
  color: $light-fg-2;

  .inverse & {
    color: $dark-fg-2;
  }
}

.lightest {
  color: $light-fg-3;

  .inverse & {
    color: $dark-fg-3;
  }
}

.ellipsis::before {
  content: '[…]';
  color: $light-fg-3;
  font-weight: bold;
  letter-spacing: .5ch;

  .inverse & {
    color: $dark-fg-3;
  }
}
