@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300%7CMontserrat:300&display=swap');

@import './spacing';
@import './colours';

body {
  background-color: $light-bg;
  color: $light-fg;
  font-family: 'Montserrat', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

.inverse {
  background-color: $dark-bg;
  color: $dark-fg;
}

h1,
h2 {
  font-family: 'Marcellus', serif;
}

h2 {
  position: relative;
  margin: 0 -#{$horizontal-padding};
  padding: 6px $horizontal-padding;
  overflow: hidden;
  border-top: 1px solid $primary-lighter;
  color: $primary;
  letter-spacing: .2ch;

  &:not(:first-child) {
    margin-top: $horizontal-padding;
  }
}

h4 {
  margin: 0;
}

.hr {
  display: flex;
  align-items: baseline;
  gap: 0 .5ch;
}

p {
  color: $light-fg-0;
  text-align: justify;

  .inverse & {
    color: $dark-fg-0;
  }
}

a {
  color: inherit; // avoid changing link colour to browser default (blue/purple)
  text-underline-offset: .1em;
}

.lighter {
  color: $light-fg-2;

  .inverse & {
    color: $dark-fg-2;
  }
}

.lightest {
  color: $light-fg-3;

  .inverse & {
    color: $dark-fg-3;
  }
}

.ellipsis::before {
  content: '[...]';
  color: $light-fg-3;
  font-weight: bold;
  letter-spacing: .5ch;

  .inverse & {
    color: $dark-fg-3;
  }
}
