@use 'sass:color';
@import '../colours.scss';
@import '../typography.scss';
@import '../spacing.scss';

body {
  display: grid;
  width:   100vw;
  height:  100vh;
  margin:  0;
  grid-template:
    'main'   1fr
    'footer' auto / 1fr;
  background-image:
    linear-gradient(
      .75turn,
      color.adjust(color.adjust($verdigris, $lightness: -25%), $alpha: -.15),
      color.adjust(color.adjust($yinmn-blue, $lightness: -15%), $alpha: -.15) 70%,
      color.adjust($yinmn-blue, $lightness: -25%)
    ),
    url('src/assets/caustics.jpg');

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    mask-image: url('#main-background-mask');
    background-size: cover;
    background-image:
      linear-gradient(transparentize($light-bg, .6), transparentize($light-bg, .6)),
      // url('https://plus.unsplash.com/premium_photo-1671650125917-4cef01cd7574?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      url('https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
}

main {
  display:   grid;
  grid-area: main;
  padding:   $default-padding;
  padding-inline-start: 0;
  hyphens:   none;
  grid-template:
    'graph highlights' 1fr / 34% 1fr;

  h2 {
    margin:             0;
    padding:            5px $default-padding;
    padding-inline-end: 0;
    text-align:         right;
    letter-spacing:     .2ch;
    color:              $light-bg;
  }
}

footer {
  display:   grid;
  grid-area: footer;
  padding:   calc( $default-padding / 1 );
  grid-gap:  calc( $default-padding / 4 );
  grid-template:
    'title qrcode-hint qrcode' 1fr / 1fr auto 100px;

  [grid-area=qrcode-hint] {
    transform:    rotate(180deg);
    font-size:    small;
    text-align:   center;
    writing-mode: vertical-lr;
  }
}

[grid-area=graph] {
  display: flex;
  position: relative;

  .label {
    position:   absolute;
    transform:  translate(-5px, -50%);
    text-align: right;
    font-size:  smaller;
  }

  path:not(.label path), g:not(.label g) {
    fill:         none;
    stroke:       var(--colour);
    stroke-width: 4px;

    &.thin {
      stroke-width: 2px;
    }

    &.fill {
      fill:   var(--colour);
      stroke: none;
    }

    &.colour-accent {
      --colour: url(#highlight-gradient);
    }

    $branch-colours: (
      hsl(0 0% 45-05%),
      hsl(0 0% 45+20%),
      hsl(0 0% 45+25%),
      hsl(0 0% 45+10%),
      hsl(0 0% 45-05%),
      hsl(0 0% 45+05%),
    );

    @for $i from 0 through length($branch-colours) - 1 {
      &.colour-#{$i} {
        --colour: #{nth($branch-colours, $i + 1)};
      }
    }
  }

  #highlight-gradient {
    $stops: (
      color.adjust($verdigris,  $lightness: -10%),
      color.adjust($yinmn-blue, $lightness: +05%),
      color.adjust($yinmn-blue, $lightness: -10%),
    );

    @for $i from 0 through length($stops) - 1 {
      stop:nth-child(#{$i + 1}) {
        stop-color: #{nth($stops, $i + 1)};
      }
    }
  }
}

[grid-area=highlights] {
  display:              flex;
  flex-direction:       column;
  padding-inline-start: calc($default-padding / 2);
}

section#highlights {
  display:         flex;
  flex-grow:       1;
  flex-direction:  column;
  justify-content: space-between;
}

article.highlight {
  position: relative;
  display:  grid;
  gap:      .3em;
  grid-template:
    'dates'    auto
    'headline' auto
    'content'  auto
    'numbers'  auto / 1fr;

  [grid-area=numbers] {
    margin-top:         .2em;
    display:            flex;
    flex-direction:     row;
    justify-content:    end;
    align-items:        center;
    gap:                0 1em;
  }

  h3 {
    margin: 0;
  }

  .stat {
    text-align: end;
    strong {
      // address Chromium issue that may render a line of pixels of the background
      padding: .1em;
      margin: -.1em;

      font-family:     Outfit;
      font-weight:     800;
      color:           transparent;
      background-clip: text;
      background-image:
        linear-gradient(
          .25turn,
          color.adjust(color.adjust($verdigris, $lightness: -15%), $alpha: -.15),
          color.adjust(color.adjust($yinmn-blue, $lightness: -05%), $alpha: -.15) 70%,
          color.adjust($yinmn-blue, $lightness: -15%)
        ),
        url('src/assets/caustics.jpg');
    }
  }
}
